// ========================================================================================================================================================================================================================================================

.welcome {
    width: 100vw;
    // height: 100vh;
    // transition: all .4s ease 0s; 
    height: calc(var(--vh, 1vh) * 100);
    @include adaptiveValue('margin-bottom',60,20);


    position: relative;

    min-height: 500px;
    overflow: hidden;
    
    // .welcome__container

    &__container {
        position: relative;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    // .welcome__title

    &__title {
        color: var(--white);
        @include adaptiveValue('max-width',700,500,1440,991.8);
        @include adaptiveValue('margin-bottom',30,15);
        max-width: rem(700);
        
        line-height: 120%;
        @include adaptiveValue('font-size',57,36);
    }

    // .welcome__subtitle

    &__subtitle {
        color: var(--white);
        @include adaptiveValue('max-width',500,400,1440,991.8);
        max-width: rem(500);

        opacity: .8;
        font-size: 18px;
        line-height: 120%;

        @media screen and (max-width:$mobile) {
            font-size: 16px;
            font-weight: 300;
        }
    }

    // .welcome__bg

    &__bg {

        // position: absolute;
        width: 100%;
        height: 100%;
        

        & img {
            position: absolute;
            left: -30%;
            width: 100%;
            height: 100%;
            top: 0;


            object-fit: fill;
            @media screen and (min-aspect-ratio: 10/8) {
                object-fit: cover;
            }
        }
        
        @media screen and (max-width:$tablet) {
            &>img:last-child {
                display: none; 
            }

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: #111111;
                opacity: .7;
                left: 0;
                top: 0;
            }
        }
    }


    // .welcome__background-image

    &__background-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        background-position: fixed;
        background-repeat: no-repeat;
        background-size: cover;

    }
}

// ========================================================================================================================================================================================================================================================

.videos {

    @include adaptiveValue('padding-bottom',60,20);
    

    // .videos__container

    &__container {
        
        @media screen and (max-width:$tablet) {
            margin: 0px -20px;
        }


        & video {

        }
    }

    &__body {
        @media screen and (max-width:$tablet) {
            margin: 0 20px;
        }
    }

    &__title {
        @include adaptiveValue('font-size',38,18);
        margin-top: em(10);
        margin-bottom: em(10);
        font-weight: 600;
        font-family: "Roboto", sans-serif;
    }

    &__decription {

        font-family: "Roboto", sans-serif;
        line-height: 120%;

    }
}

// ========================================================================================================================================================================================================================================================

.films-slider {
    @include adaptiveValue('margin-bottom',60,20);
    

    // width: 100%;
    // height: 100%;

    // .films-slider__container

    &__container {
        @media (max-width:$pc) {
            padding-right: 15px !important;
            padding-left: 15px !important;
        }
    }
    
    // .films-slider__wrapper
    
    &__wrapper {
        
    }

    // .films-slider__slide

    &__slide {
        position: relative;

        & img {
            aspect-ratio: 7/10;
            margin-bottom: rem(7);
            width: 100%;

            object-fit: cover;
            // position: absolute;
        }
    }

    // .films-slider__title

    &__title {

        font-size: rem(18);
        font-weight: bold;
        line-height: 120%;
        color: #111111;

        @media screen and (max-width:$tablet) {
            font-size: rem(15);
        }

    }
}


// ========================================================================================================================================================================================================================================================
