.page {
  // .page__content

  &__container {
    @media screen and (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 320px;
      column-gap: 20px;
      grid-template-rows: minmax(200px, auto) auto;
    }

    @media screen and (max-width: $tablet) {
      display: grid;
      column-gap: 15px;
      grid-template-columns: 1fr 270px;
      grid-template-rows: minmax(200px, auto) auto;
    }

    @media screen and (max-width: $mobile) {
      display: inline-block;
    }
  }
}

// ========================================================================================================================================================================================================================================================

.sidebar {
  grid-row: 2 span;
  margin-bottom: 20px;

  @media screen and (max-width: $mobile) {
    display: none;
  }

  // .sidebar__item

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: $tablet) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  // .sidebar__item-content

  &__item-content {
    display: flex;
    align-items: center;
    column-gap: 10px;
    // border: 1px solid var(--dark);
    // background-color: var(--dark);
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    background-color: #eeeeee;
    padding-right: 10px;

    transition: all 0.5s ease 0s;

    @media screen and (hover: hover) {
      &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
    }
  }

  // .sidebar__item-image

  &__item-image {
    // flex: 0 0 50px;
    @include adaptiveValue("flex-basis", 50, 30);

    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  // .sidebar__item-title

  &__item-title {
    font-family: "Roboto", sans-serif;

    @media screen and (max-width: $tablet) {
      font-size: 14px;
    }
  }
}

// ========================================================================================================================================================================================================================================================

.welcome {
  width: 100vw;
  // height: 100vh;
  // transition: all .4s ease 0s;
  @include adaptiveValue("margin-bottom", 60, 20);

  position: relative;

  padding-top: 75px;
  @media (min-width: $tablet) {
    padding-top: 100px;
    height: calc(var(--vh, 1vh) * 30);
    min-height: 350px;
  }
  overflow: hidden;

  // .welcome__container

  &__container {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
  }

  // .welcome__title

  &__title {
    color: var(--white);
    @include adaptiveValue("max-width", 700, 550, 1440, 991.8);
    @include adaptiveValue("margin-bottom", 30, 15);
    max-width: rem(700);

    line-height: 120%;
    @include adaptiveValue("font-size", 47, 32);
  }

  // .welcome__subtitle

  &__subtitle {
    color: var(--white);
    @include adaptiveValue("max-width", 500, 400, 1440, 991.8);
    max-width: rem(500);

    opacity: 0.8;
    font-size: 18px;
    line-height: 120%;
    @include adaptiveValue("padding-bottom", 40, 20);

    @media screen and (max-width: $mobile) {
      font-size: 16px;
      font-weight: 300;
    }
  }

  // .welcome__bg

  &__bg {
    // position: absolute;
    width: 100%;
    height: 100%;

    & img {
      position: absolute;
      left: -30%;
      width: 100%;
      height: 100%;
      top: 0;

      object-fit: fill;

      @media screen and (min-aspect-ratio: 10/8) {
        object-fit: cover;
      }
    }

    @media screen and (max-width: $tablet) {
      & > img:last-child {
        display: none;
      }

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #111111;
        opacity: 0.7;
        left: 0;
        top: 0;
      }
    }
  }

  // .welcome__background-image

  &__background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// ========================================================================================================================================================================================================================================================

// ========================================================================================================================================================================================================================================================

.films {
  @include adaptiveValue("margin-bottom", 60, 20);

  // .films__container

  &__container {
    padding: 0px !important;
  }

  // .films__menu

  &__menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(15);
    margin-bottom: 20px;
  }

  // .films__link

  &__link {
    font-family: "Roboto";
    color: var(--dark);
    @include adaptiveValue("font-size", 26, 18);

    font-weight: 600;
    // padding: em(13,21) 1.4em;
    // background-color:#B72025;
    border-radius: em(8, 18);

    cursor: auto;
  }

  // .films__section

  &__section {
    display: flex;
    flex-wrap: wrap;

    gap: 15px;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 45, 25);
    }
  }

  // .films__item

  &__item {
    display: flex;
    flex-direction: column;
    // align-items: start;
    cursor: pointer;
    margin-bottom: 20px;

    transition: all 0.4s ease 0s;

    @media screen and (hover: hover) {
      &:hover {
        transform: scale(1.04);

        & > .films__item-image {
          box-shadow: 0 0 rem(28) rgba(0, 0, 0, 0.6);
        }
      }

      @media screen and (max-width: $tablet) {
        &:hover {
          & > .films__item-image {
            box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.6);
          }
        }
      }
    }

    &:active {
      transform: scale(0.96);
    }
  }

  // .films__item-image

  &__item-image {
    height: 225px;
    @include adaptiveValue("height", 225, 150, 1440, 320);

    @media screen and (hover: hover) {
      transition: all 0.4s ease 0s;
    }

    & > img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  // .films__item-title

  &__item-title {
    @include adaptiveValue("font-size", 16, 14);
    max-width: 100%;
    // font-weight: 600;
    font-family: "Roboto";
    @include adaptiveValue("margin-top", 15, 10);

    @media screen and (max-width: $mobile) {
      font-size: 16px;
    }
  }
}

// ========================================================================================================================================================================================================================================================
